html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8rem;
  color: rgb(51, 51, 51);
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 38%;
  overflow-x: hidden;
  padding: 1em;
  box-sizing: border-box;
}

.my-grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 38%;
}

/*
 * conditional formatting
 */
.my-grid table tbody tr td.red {
  background-color: rgba(240, 83, 79, 0.8);
}
